node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
deploy/*.sh
deploy/config.js
storage
.nyc_output
public/styles/*
.idea/
yarn-error.log
docker/dev/redis
docker/prod/redis
