version: '3'

services:
  redis:
    image: redis
    container_name: cache
    command: bash -c "redis-server --appendonly yes"
    expose:
      - 6379
    volumes:
      - ./docker/redis-volume:/data

  app:
    image: node:lts-alpine
    build: ./docker/app
    working_dir: /web
    environment:
      REDIS_HOST: redis
      APP_HOST: 0.0.0.0
      APP_PORT: 1234
      WORKERS: 2
      NODE_ENV: development
      TOKEN_KEY: "console:aT88jG"
    ports:
      - 0.0.0.0:1234:1234
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
    depends_on:
      - redis
    volumes:
      - ./:/web
